body {
    display: grid;
    place-items: center;
    background-color: #000;
    color: #555;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

input {
    font-size: 2rem;
    background-color: #555;
    color: #000;
}

button {
    font-size: 2rem;
    padding: 1rem;
    margin: 3rem;
    background-color: #555;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}