body {
  display: grid;
  place-items: center;
  background-color: #000;
  color: #555;
}

h1 {
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

input {
  font-size: 30px;
  width: 20%;
  text-align: center;
  margin: 30px;
  background-color: #555;
  color: #000;
}

table {
  font-size: 40px;
  text-align: center;
  border: 10px solid #000;
}
